body {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-left, .main-right {
    height: 100vh;
}

.main-left {
    width: 40%;
    background-size: cover;
    background-image: linear-gradient(to right, #2978ff50, #2979FF), url("images/backgroundGray.jpg");
    background-position-y: 50%;
    z-index: 55555;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;
}

.main-left img {
    height: 60px;
    margin: 20px 0 0 20px;
}

.main-left p {
    margin: 0 0 10px 20px;
    padding: 0;
    font-size: .8rem;
}

.main-left a {
    color: white;
}

.main-right {
    background-color: #2979FF;
    width: 60%;
    display: flex;
    align-items: center;
}

.form-container {
    min-width: 500px;
    width: 600px;
    margin: 0 5% 0 15%;

    background: linear-gradient(to right, #2978ff50 0%, #b7d1ff3a 12%);
    padding: 30px 60px 20px 120px;
    border-radius: 10px;
}

.form-narrative p {
    margin-left: 3px;
}

h1 {
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 2.3rem;
}

p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.form {
    margin-top: 60px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.form-right {
    margin-left: 40px;
}

.form-field {
    position: relative;
    width: 280px;
}

.form-field label {
    position: absolute;
    top: 17px;
    left: 25px;
    cursor: text;
    pointer-events: none;
}

.form-field input:focus + label, .form-field input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: scale(.8) translateY(-260%) translateX(-15px);
    color: white;
}

#confirm input:focus + label, #confirm input:not(:placeholder-shown) + label {
    transform: scale(.8) translateY(-260%) translateX(-25px);
}

.second-row input:focus + label, .second-row input:not(:placeholder-shown) + label {
    transform: scale(.8) translateY(-260%) translateX(-9px);
}

.form-field input {
    height: 40px;
    width: 90%;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #b7d1ff1a;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.1rem;
    padding: 4px 19px 0 19px;
    color: black;
}

.form-field label {
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.1rem;
}

input:not(:placeholder-shown) {
    background-color: #cee0ff;
    border: 2px solid #cee0ff;
}

input:focus {
    background-color: #cee0ff;
    border: 2px solid #cee0ff;
    outline: none;
}

.submit {
    font-family: 'Exo', sans-serif;
    justify-content: flex-end;
    margin-right: -10px;
}

.submit a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #cee0ff;
    transition: all .2s linear;
    z-index: 100;
}

.submit a:hover {
    color: white;
    cursor: pointer;

    letter-spacing: .05rem;
}

.submit a:hover img {
    filter: brightness(100);
}

.submit img {
    height: 30px;
    width: auto;
}

.submit h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

.jiggle {
    animation: jiggle 0.5s linear;
  }
  
@keyframes jiggle {
    10%, 90% {
        transform: translate(-2px, 0);
    }

    20%, 80% {
        transform: translate(4px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-8px, 0);
    }

    40%, 60% {
        transform: translate(8px, 0);
    }
}

